.disney {
    color: firebrick;
    font-size: 40px;
}

/* font는 상속됨
border은 p안의 em은 상속되지 않았음 */
p {
    border: dashed 2px;
    font-size: 30px;
}

h3 {
    color: green;
}

#sidebar {
    color: blue;
}

/* 강제 상속 */
#sidebar h3 {
    color: inherit;
}